header{
    height: 3em;
}

body{
    background-color: #00a1f1;
}

main{
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    background-color: white;
    width: 50%;
    height: max-content;
    padding: 1%;
    border-radius: 15px;
}

#login{
    text-align: left;
    font-weight: bold;
}

span{
    margin: 0;
    font-size: larger;
    font-weight: bold;
}

#body{
    margin: 0;
    margin-top: -1em;
}

#signout{
    float: right;
    color: white;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}